<p id="notice"><%= notice %></p>

<h1 class="product_head">Products</h1>

<div class="container-fluid" id="product-grid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <% if product.image_url != nil %>
          <%= image_tag(product.image_url, class: "img-responsive") %>
        <% end %>
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <strong><%= product.price %></strong> <br>
        <p><%= link_to 'Show', product %></p>
        <p><%= link_to 'Edit', edit_product_path(product) %></p>
        <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>







